@import "modern-normalize";
@import "reset.css";

/********************************************/
/* DESIGN SYSTEM */
/********************************************/
:root {
  font-size: 62.5%; /* Start with 10px as default relative font size assuming default browser font size of 16px*/

  /*****  COLORS (primary, secondary, accents and greys) *****/
  --clr-white: #fff;
  --clr-black: #000;
  --clr-red: #c73b0f;
  --clr-rose-900: #260f08;
  --clr-rose-500: #87635a;
  --clr-rose-400: #ad8a85;
  --clr-rose-300: #caafa7;
  --clr-rose-100: #f5eeec;
  --clr-rose-50: #fcf8f6;
  --clr-green: #1ea575;

  /***** TYPOGRAPHY *****/
  /* font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /* - Font sizes (px) */
  --fs-100: 1rem; /* 10px */
  --fs-200: 1.2rem; /* 12px */
  --fs-300: 1.4rem; /* 14px */
  --fs-400: 1.6rem; /* 16px */
  --fs-500: 1.8rem; /* 18px */
  --fs-600: 2rem; /* 20px */
  --fs-700: 2.4rem; /* 24px */
  --fs-800: 3rem; /* 30px */
  --fs-900: 3.6rem; /* 36px */
  --fs-1000: 4.4rem; /* 44px */
  --fs-1100: 5.2rem; /* 52px */
  --fs-1200: 6.2rem; /* 62px */
  --fs-1300: 7.4rem; /* 74px */
  --fs-1400: 8.6rem; /* 86px */
  --fs-1500: 9.8rem; /* 98px */

  /* semantic font names */
  --fs-caption: var(--fs-200);
  --fs-text-prim: var(--fs-400);
  --fs-icon-md: var(--fs-500);
  --fs-icon-sm: var(--fs-300);
  --fs-text-sec: var(--fs-300);
  --fs-heading-prim: var(--fs-800);
  --fs-heading-sec: var(--fs-600);
  --fs-heading-tert: var(--fs-500);

  /* letter spacing */
  /* line heights */

  /***** WHITESPACE *****/
  /* spacing system */
  --space-25: 0.2rem;
  --space-50: 0.4rem;
  --space-100: 0.8rem;
  --space-140: 1.2rem;
  --space-200: 1.6rem;
  --space-300: 2.4rem;
  --space-400: 3.2rem;
  --space-600: 4.8rem;
  --space-800: 6.4rem;
  --space-1000: 8rem;
  --space-1200: 9.6rem;
  --space-1600: 12.8rem;

  /***** SHADOWS *****/

  /***** BORDER RADIUS *****/
}

/********************************************/
/* SPECIFIC STYLES */
/********************************************/
body {
  font-family:
    "Red Hat Text",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: var(--fs-400);
  color: var(--clr-rose-900);
  line-height: 1.5;
}

/* .app-container {
  display: flex;
  flex-direction: column;
} */

.app-container {
  min-height: 100vh;
  padding: var(--space-300);
  background-color: var(--clr-rose-50);
}

.category {
  margin-bottom: var(--space-400);
}

.category__title {
  font-size: var(--fs-900);
  line-height: 1.2;
  font-weight: var(--fw-bold);
  margin-bottom: var(--space-400);
}

.category__product-list {
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: var(--space-600);
}

.category-item {
  list-style: none;
}

/* CART SECTION */
.cart {
  padding: var(--space-300);
  background-color: var(--clr-white);
}

.cart__title {
  font-size: var(--fs-700);
  color: var(--clr-red);
  margin-bottom: var(--space-300);
}

.cart__items-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
  list-style: none;
  margin-bottom: var(--space-400);
}

.cart__divider {
  height: 1px;
  width: 100%;
  background: var(--clr-rose-100);
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item__details {
  margin-right: auto;
  font-size: var(--fs-300);
}

.cart-item__title {
  font-size: var(--fs-300);
  font-weight: var(--fw-semi-bold);
  margin-bottom: var(--space-100);
}

.cart-item__count {
  color: var(--clr-red);
  font-weight: var(--fw-semi-bold);
}

.cart-item__count,
.cart-item__price {
  margin-right: var(--space-100);
}

.cart-item__price,
.cart-item__price-total {
  color: var(--clr-rose-500);
}

.cart-item__price-total {
  font-weight: var(--fw-semi-bold);
}

.cart__total-container {
  display: flex;
  align-items: center;
  font-size: var(--fs-300);
  margin-bottom: var(--space-300);
}

.cart__total {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  margin-left: auto;
}

.cart__carbon-message {
  background-color: var(--clr-rose-50);
  padding: var(--space-200);
  font-size: var(--fs-300);
  margin-bottom: var(--space-300);
}

.cart__carbon-message strong {
  font-weight: var(--fw-semi-bold);
}

/********************************************/
/* REUSABLE COMPONENTS */
/********************************************/
/* PRODUCT CARD */

.product__image-container {
  position: relative;
  margin-bottom: var(--space-400);
}

.product__image {
  position: relative;
  z-index: 1;
  border-radius: 0.8rem;
}

.product--selected .product__image {
  border: 2px solid var(--clr-red);
}

.product__sub-category {
  color: var(--clr-rose-500);
  font-size: var(--fs-300);
  margin-bottom: 0.2rem;
}
.product__title {
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
  margin-bottom: 0.4rem;
}
.product__price {
  color: var(--clr-red);
  font-weight: var(--fw-semi-bold);
}

/* BUTTONS */

.btn {
  background: none;
  border: none;
  width: 16rem;
  font-size: var(--fs-300);
  font-weight: var(--fw-semi-bold);
  border-radius: 10rem;
  padding: var(--space-140) 0;
}

.btn--primary {
  background-color: var(--clr-red);
  color: var(--clr-white);
  width: 100%;
}

.btn--primary:hover {
  background: linear-gradient(rgb(0 0 0 / 25%), rgb(0 0 0 / 25%)), var(--clr-red);
}

.btn--add-to-cart {
  --border-color: var(--clr-rose-400);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border: 1px solid var(--border-color);
  background-color: var(--clr-white);
  transition: all 0.3s;
}

.btn--add-to-cart:hover {
  --border-color: var(--clr-red);
  color: var(--clr-red);
}

.btn--remove {
  width: auto;
}
/********************************************/
/* UTILITY / HELPER CLASSES */
/********************************************/

/* QUERIES */
/* 512 px */
@media (min-width: 32em) {
  .category {
    margin-bottom: var(--space-1000);
  }

  .category-item {
    width: 80%;
  }

  .cart-item__title,
  .cart__total-container {
    font-size: var(--fs-400);
  }

  .category__product-list {
    row-gap: 4rem;
  }

  .product__title,
  .product__price {
    font-size: var(--fs-500);
  }

  .product__sub-category {
    font-size: var(--fs-400);
  }

  .cart {
    padding: var(--space-600);
  }
}

@media (min-width: 48em) {
  .app-container {
    padding: 4rem;
  }

  .category__product-list {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: var(--space-300);
    column-gap: var(--space-400);
  }

  .category-item {
    width: 100%;
  }

  .category {
    margin-bottom: var(--space-600);
  }
}

/* 1440px */
@media (min-width: 90em) {
  .app-container {
    display: flex;
    justify-content: center;
    gap: var(--space-400);
    padding: var(--space-600) var(--space-1600) var(--space-1200);
  }

  .cart {
    max-width: 38.4rem;
    flex-shrink: 0;
    flex-grow: 1;
    align-self: flex-start;
  }
}
